<!doctype html>
<html lang="pt-br">

	<%- include('../partials/head', {pagina: 'time tracking'}) %>
	<body>
		<header></header>
		<main>

			<div class="container" style="padding-top: 100px;">
				<div class="row">
					<div class="col-4">
						<div class="profile">
							<img src="/images/image-jeremy.png" alt="Imagem do perfil" width="70px">
							<p class="legend">Report for</p>
							<h1>Jeremy Robson</h1>
						</div>
						<div class="options">
							<p class="mode">Daily</p>
							<p class="mode">Weekly</p>
							<p class="mode">Monthly</p>
						</div>
					</div>
					<div class="col-8">
						<div class="row row-cols-3 gy-5">
							<% data.forEach(function(info){%>
								<div class="col">
									<!-- Cada coluna tem cor e imagem definidas pela informação que vem do server-side  -->
									<!-- O linear-gradient é para que a corzinha do detalhe não fique com uma pontinha sobrando embaixo -->
									<div id="det" class="details" style="background-image: linear-gradient(<%= info.color %>, <%= info.color %>, hsl(226, 43%, 10%), hsl(226, 43%, 10%));" onclick="changeImg()">
										<img class="img-icon" src="/images/<%=info.icon%>">
										<div class="card">
											<!-- Colocando os três pontinhos de sub-menu -->
											<div class="card-options">
												<p class="title"><b><%= info.title %></b></p>
												<img class="more" src="/images/more.png">
											</div>
											<p class="current"><%= info.timeframes.daily.current %>hrs</p>
											<p class="previous">Last day - <%= info.timeframes.daily.previous %>hrs</p>
										</div>
									</div>
								</div>
							<%}) %>
						</div>
						
					</div>
				</div>
				
			</div>
		</main>
		<footer></footer>
	</body>

</html>